@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

th:first-child, td:first-child {
    text-align: center;
}

th:last-child, td:last-child {
    text-align: center;
}

td, th {
    vertical-align: middle;
}
